<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\GraphQl\Query\QueryProcessor">
        <plugin name="Iksula_CustomGraphQlQueryLimiter_QueryProcessorPlugin" type="Iksula\CustomGraphQlQueryLimiter\Plugin\QueryProcessorPlugin"/>
    </type>

    <preference for="Magento\Framework\GraphQl\Query\QueryComplexityLimiter" type="Iksula\CustomGraphQlQueryLimiter\GraphQl\Query\CustomQueryComplexityLimiter"/>
</config>
